<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kikisen_VC_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Kikisen_VC_WPF.Properties.Settings>
            <setting name="InputDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="RecogAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="SpeechAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="TranslateAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="TranslateSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="Phrases" serializeAs="String">
                <value>リセット|テスト|メートル</value>
            </setting>
            <setting name="sayVolume" serializeAs="String">
                <value />
            </setting>
            <setting name="sayPitch" serializeAs="String">
                <value />
            </setting>
            <setting name="saySpeed" serializeAs="String">
                <value />
            </setting>
            <setting name="sayEmotion" serializeAs="String">
                <value />
            </setting>
            <setting name="keyVTWAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="keyGCSAPIjsonPath" serializeAs="String">
                <value />
            </setting>
            <setting name="say_msEmphasis" serializeAs="String">
                <value />
            </setting>
            <setting name="say_msRate" serializeAs="String">
                <value />
            </setting>
            <setting name="say_msPitch" serializeAs="String">
                <value />
            </setting>
            <setting name="say_msVolume" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputText_opt1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="keyGTAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="keyBingSpAPI1" serializeAs="String">
                <value />
            </setting>
            <setting name="readLogFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="readLogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="readLogFileExcept" serializeAs="String">
                <value>: </value>
            </setting>
            <setting name="readLogFileNicknameChk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="readLogFileNicknameString" serializeAs="String">
                <value>Global: *:</value>
            </setting>
            <setting name="readLogFileNicknameChkUseVTWAPI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="readLogFileOCR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="readLogFileOCR_rectdownedX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="readLogFileOCR_rectdownedY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="readLogFileOCR_rectwidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="readLogFileOCR_rectheight" serializeAs="String">
                <value>0</value>
            </setting>
        </Kikisen_VC_WPF.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.28.0.0" newVersion="1.28.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.28.0.0" newVersion="1.28.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.3.0.0" newVersion="15.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Grpc" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>